/*reset css*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}

/*colors*/
.bg-darkblue{
    background-color: #0084FD;
}

.bg-yellow{
    background-color:#c1c41a ;
}

.color-white{
    color: white;
}

.bg-red{
    background-color:red ;
}
.bg-shadow{
    background-color:rgb(151, 146, 228) ;
}
.color-shadow{
    color:rgb(151, 146, 228) ;
}
.bg-white{
    background-color:white;
}
/*flex*/

.flex-space-between-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex{
    display: flex;
    
}


.flex-col{
    display: flex;
    flex-direction: column;
}
.flex-col-center-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.flex-col-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*commands*/
.border{
    border: 2px solid black;
}
/*tag*/
a{
    text-decoration: none;
    display: none;
    
}
ul{
    list-style-type:none;
    font-size: 15px;
}


section{
    width: 100%;
}
/*testo*/
.content-txt{
    font-size: 10rem;
}

.title{
    font-size: 30px;
    text-align: center;
}

/*contenitore*/


.contenitore{
    width: 80%;
    margin: 0 auto;
    height: 100%;
}


/*header*/

header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 4rem;
    z-index: 2;
}


.logo{
    width: 20%;
    font-size: 3rem;

}
.barra{
   width:  60%;
   text-align: right;
   font-size: 20px;
}


li button{
    display: none;
    border-radius: 30px;
    padding: 5px 10px;
    border: 1px solid white;


}

/*introduction*/

.introduction{
    padding-top: 7rem;
}


.card{
    width: 100%;
    border: 2px dotted black;
    height: 100%;
    background-color: aqua;
    border-radius: 30px;
    padding: 20px;
}


.row{
    width: 100%;
}


.column{
    padding: 20px;
    height: 100%;
}
.column-big{
    padding: 20px;
    height: 100%;
}


/*introcudtion-cards*/




.big img{
    max-width: 100%;
}


.introduction i{
    font-size: 50px;
}




/*strategic-plannning*/


.strategic-planning{
    margin-top: 50px;
    padding: 50px 0;
}

.right-box{   
    border-radius:30px;
    padding: 5%;
    margin-top: 50px;
}


.right-box i{
    
    padding: 15px;
    border-radius: 50%;
    text-align: center;
}


.left-box .title-sp{
    margin: 70px 0;
}


.left-box img, .right-box img{
    max-width: 100%;
}


.right-box p{
    margin: 50px 0;
}

/*Team*/


.contenitore-immagine{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}


.team-card{
    border-radius: 20px;
    padding: 20px;
    margin: 50px 0;

}

.contenitore-immagine img{
    max-height: 100%;
    margin-left:-50px;
}


.team-card p{
    margin-top: 30px;
    text-align: center;
}

.personal-name{
    margin-top: 30px;
    font-size: 20px;
}

.contenitore-immagine.donna img{
    margin-left: -55px;
}
.contenitore-immagine.uomo img{
    margin-left: -45px;
}


.contenitore>span {
    font-size: 15px;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}


.team .title{
    margin: 30px 0;
}


.team>p{
    text-align: center;
}











































/*"tablet"*/

@media screen and (min-width:768px){

    .row{
        display: flex;
        flex-wrap: wrap;
        align-items:stretch;
    }
    .column-big{
        width: calc((100%/3)*2 - 20px);
    }

    .introduction .column{
        width: calc(100%/3 - 10px);
    }

    /*team-section*/

    
    .team-card.flex-col-center-center{
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .txt-team-card{
        width: 70%;
    }
   
    
    .personal-name{
        align-self: flex-start;
        padding-left: 10px;
    }
}







/*desktop*/


@media screen and (min-width:1200px) {
    a{
       display: inline-block;
    }
    li button{
        display: inline-block
    }
    .menu{
        display: none;
    }

    /*sp section*/

    
    .right-box , .left-box{
        width:40%;
    }

    
    .right-box{
        position: absolute;
        bottom: 0;
        right: 20px;
    }

    
    .strategic-planning .contenitore{
        position:relative;
    }
    
    .strategic-planning .contenitore{
        width: 60%;
    }
    
    
}